<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css" media="screen" title="no title">
    <link rel="stylesheet" href="/static/style.css" media="screen" title="no title">

  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {%if messages%}
    <ul class = "flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
      {% endif %}
    {% endwith %}
      </ul>
    <div class="panel panel-default">
  <div class="panel-body">
  <a href="/AllPages"><h3>Jason's Amazing Wiki</h3></a>
    <div class="login">
        <h4>Welcome</h4>
    <p>Hello, {{session['username'] or 'there'}}!!</p>
    <p>
      <a href="/login">Log In</a>
      <a href="/logout">Log Out</a>
    </p>
  </div>
  </div>
</div>

<h1>{{page_name}}</h1>
    {% block body %}
    {% endblock %}
  </body>
</html>
